Biblio.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bibliotheque">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="livre">
          <xs:complexType>
            <xs:sequence>
			  <xs:element name="livreId" type="xs:unsignedShort" />
              <xs:element name="titre" type="xs:string" />
              <xs:element name="auteur">
                <xs:complexType>
                  <xs:sequence>
					<xs:element name="auteurId" type="xs:unsignedShort" />
                    <xs:element name="nom" type="xs:string" />
                    <xs:element name="prenom" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="presentation" type="xs:string" />
              <xs:element name="parution" type="xs:unsignedShort" />
              <xs:element name="colonne" type="xs:unsignedByte" />
              <xs:element name="rangee" type="xs:unsignedByte" />
			  <xs:element name="url" type="xs:string" />
			  <xs:element name="etat">
				  <xs:complexType>
					<xs:choice>
					  <xs:element name="Prêté" type="xs:string"/>
					  <xs:element name="Emprunté" type="xs:string"/>
					  <xs:element name="Acquis" type="xs:string"/>
					</xs:choice>
				  </xs:complexType>
			  </xs:element>
			  <xs:element name="personne" type="xs:string" />
			  <xs:element name="bibliothequeId" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>