Credentials.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="credential">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="user">
          <xs:complexType>
            <xs:sequence>
			  <xs:element name="userID" type="xs:unsignedShort" />
			  
              <xs:element name="login" type="xs:string" />
			  <xs:element name="password" type="xs:string" />
			  <xs:element name="mail" type="xs:string" />
			  <xs:element name="disable" type="xs:boolean" />
              <xs:element name="role">
                <xs:complexType>
                  <xs:sequence>
					<xs:element name="roleId" type="xs:unsignedShort" />
                    <xs:element name="code" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
					<xs:element name="right">
						<xs:complexType>
						  <xs:sequence>
							<xs:element name="rightId" type="xs:unsignedShort" />
							<xs:element name="edit" type="xs:boolean" />
							<xs:element name="read" type="xs:boolean" />
							<xs:element name="create" type="xs:boolean" />
							<xs:element name="delete" type="xs:boolean" />
							<xs:element name="export" type="xs:boolean" />
							<xs:element name="save" type="xs:boolean" />
						  </xs:sequence>
						</xs:complexType>
					  </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			  <xs:element name="credentialId" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>